
ghost/gateway/.classpath
ghost/gateway/.project
ghost/gateway/.settings/org.eclipse.core.resources.prefs
ghost/gateway/.settings/org.eclipse.jdt.core.prefs
ghost/gateway/.settings/org.eclipse.m2e.core.prefs
